img {
  max-width: 100%;
  height: auto;
}

.headTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 50px;
}

.list {
  width: 80%;
  margin: auto;
}

.list_box {
  display: flex;
  justify-content: center;
}

.list_box_item {
  margin: 0 30px;
}

.list_box_item button {
  color: dimgrey;
  background-color: #bef4fc;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.outputBox {
  background-color: #efefef;
  width: 80%;
  margin: 100px auto;
  list-style: none;
}

.deleteBtn {
  text-align: center;
  margin: 50px;
}

.chatBox {
  text-align: center;
  padding: 20px;
}

.chatText {
  font-size: 1.2rem;
  font-weight: bold;
}

.imgList {
  margin: 20px auto;
  text-align: center;
}

.imgItem {
  width: 500px;
  height: auto;
}
